html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a,
.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
}

.hero p {
  margin-top: 0;
  margin-bottom: 9px;
}

.hero button {
  background-color: #3882f6;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
  font-weight: bold;
}

.header,
.info,
.quote {
  padding-right: 15%;
  padding-left: 15%;
}

.header {
  padding-top: 16px;
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .links {
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header .hero-container {
  display: flex;
  padding: 100px 0;
}

.hero {
  flex: 1;
}

.hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: 0;
}

/* Info Section */

.info {
  padding-bottom: 128px;
  text-align: center;
}

.info-title {
  margin: 64px 0;
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.info-image {
  width: 150px;
  height: auto;
  border: 2px solid aqua;
}

/* Quote Section */

.quote {
  background-color: #e5e7eb;
  padding-top: 128px;
  padding-bottom: 128px;
}

.quote-container {
  padding: 0 256px;
}

.quote-text {
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
}

.quote-author {
  font-weight: bold;
  text-align: end;
  padding-right: 48px;
}

/* Call-to-action Section */

.call-to-action {
  padding: 128px 25%;
}

.call-to-action-container {
  background-color: #3882f6;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 32px 0;
  display: flex;
  justify-content: space-evenly;
}

.call-to-action-container button {
  background-color: #3882f6;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 8px 24px;
  font-weight: bold;
}

.call-to-action-appeal {
  font-size: 20px;
  font-weight: bold;
}

/* Footer Section */

footer {
  background-color: #1f2937;
  text-align: center;
  padding: 52px 0;
  color: white;
}
